django>=5.2
mysqlclient
pillow
requests
numpy
pandas
scikit-learn
faiss-cpu
sentence-transformers
transformers
deepctr-torch
jieba
py2neo
neo4j
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-neo4j
langchain-ollama
deep-translator
bleach
markdown
python-dotenv
tqdm
