{% extends 'base.html' %}
{% block title %}重置密码{% endblock %}

{% block content %}
<div class="page-header">
    <h1>重置密码: <small>{{ target_user.username }}</small></h1>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="POST" novalidate>
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <span class="help-block">{{ field.errors.0 }}</span>
                </div>
            {% endfor %}

            <hr>
            <button type="submit" class="btn btn-warning">
                <i class="fa fa-key"></i> 确认重置
            </button>
            <a href="{% url 'admin_user_list' %}" class="btn btn-default">
                取消
            </a>
        </form>
    </div>
</div>
{% endblock %}